{% extends "admin/base.html" %}

{% block title %}Add Category{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xl-8 col-lg-10 col-md-12 col-sm-12 mx-auto">
        <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
            <div class="row mb-4">
                <div class="col-12">
                    <h2 class="tm-block-title">Add Category</h2>
                </div>
            </div>

            <form action="" method="POST" enctype="multipart/form-data" class="tm-edit-product-form">
                <div class="form-group mb-3">
                    <label for="name">Category Name</label>
                    <input id="name" name="catname" type="text" class="form-control validate" placeholder="Enter category name" required />
                </div>

                <div class="form-group mb-3">
                    <label for="description">Description</label>
                    <textarea id="description" name="description" class="form-control validate" rows="4" placeholder="Enter description" required></textarea>
                </div>

                <div class="form-group mb-4">
                    <label for="image">Category Image</label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="image" name="image" class="form-control validate">
                        <label class="custom-file-label" for="image">Choose file</label>
                    </div>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-block text-uppercase">Add Category</button>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}
