{% extends "admin/base.html" %}

{% block title %}Add City{% endblock %}

{% block content %}

<div class="row">
    <div class="col-xl-8 col-lg-10 col-md-12 col-sm-12 mx-auto">
        <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
            <div class="row mb-4" >
                <div class="col-12">
                    <h2 class="tm-block-title">Add City</h2>
                </div>
            </div>

            <form action="" method="POST" class="tm-edit-product-form">
                <div class="form-group mb-3">
                    <label for="city_name">City Name</label>
                    <input 
                        id="city_name" 
                        name="city_name" 
                        type="text" 
                        class="form-control validate" 
                        placeholder="Enter city name" 
                        required 
                    />
                </div>

              
                <div class="form-group mb-3">
                    <label for="county">County</label>
                    <select id="county" name="county" class="custom-select tm-select-accounts" required>
                        <option selected disabled>Select county</option>
                       
                        <option value="1">County 1</option>
                        <option value="2">County 2</option>
                        <option value="3">County 3</option>
                    </select>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-block text-uppercase">
                        Add City
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
