{% extends "admin/base.html" %}

{% block title %}Add County{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xl-8 col-lg-10 col-md-12 col-sm-12 mx-auto">
        <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
            <div class="row mb-4">
                <div class="col-12">
                    <h2 class="tm-block-title">Add County</h2>
                </div>
            </div>

            <form action="" method="POST" class="tm-edit-product-form">
                <div class="form-group mb-3">
                    <label for="county">County Name</label>
                    <input 
                        id="county" 
                        name="county" 
                        type="text" 
                        class="form-control validate" 
                        placeholder="Enter county name" 
                        required 
                    />
                </div>

               

                <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-block text-uppercase">
                        Add County
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
