
{% extends "admin/base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<p class="text-white mt-5 mb-5">Welcome back, <b>Admin</b></p>

<div class="row tm-content-row">
    <div class="col-lg-6 tm-block-col">
        <div class="tm-bg-primary-dark tm-block">
            <h2 class="tm-block-title">Latest Hits</h2>
            <canvas id="lineChart"></canvas>
        </div>
    </div>
    <div class="col-lg-6 tm-block-col">
        <div class="tm-bg-primary-dark tm-block">
            <h2 class="tm-block-title">Performance</h2>
            <canvas id="barChart"></canvas>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    Chart.defaults.global.defaultFontColor = 'white';
    $(function () {
        drawLineChart();
        drawBarChart();
        drawPieChart();
        $(window).resize(function () {
            updateLineChart();
            updateBarChart();
        });
    });
</script>
{% endblock %}
