
html, body {
    height: 100%;
    background-color: #1e2734;   
    font-family: 'Segoe UI', sans-serif;
    color: #ffffff;              
    margin: 0;
    padding: 0;
}


.custom-navbar {
    background-color: #222d3b !important;  
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

.navbar-brand {
    font-weight: bold;
    color: #ffffff !important;
}

.nav-link {
    color: #cfd8e3 !important;
    margin-left: 10px;
}

.nav-link:hover {
    color: #ffffff !important;
}


.dashboard-card {
    border-radius: 12px;
    background: #2b3748;        
    box-shadow: 0 4px 18px rgba(0,0,0,0.4);
    color: #e5e9f0;              
}


.dashboard-card h5 {
    color: #ffffff;
    font-weight: 600;
}


.container {
    border-radius: 12px;
    padding: 10px;
}


.notification img {
    border: 2px solid #4c5b70;
}


h2 {
    color: #ffffff;
}
